<body>

<!-- Other content of the page -->

<!-- Footer section -->
<footer class="footer-main">
    <!-- First, display the plugin -->
    <div id="clustrmap-container">
        <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=FGUlv1td6SYQH1J7Pv0SNgXXMmfRtnVAVVWhh4q0jLc"></script>
    </div>

    <!-- Then, display the site title and RSS link -->
    {{ site.title }} © {{ site.time | date: '%Y' }}

    <a class="link" href="{{ site.url }}/feed.xml" target="_blank">
        <i class="fa-solid fa-rss"></i>
    </a>

    <!-- Optional other footer content -->
    <!-- <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a>
        by
        <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
    </p> -->
</footer>

<!-- Add CSS styles -->
<style>
  .footer-main {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa; /* Customize the background color */
    position: relative;
  }

  #clustrmap-container {
    margin-bottom: 20px; /* Space between plugin and text */
    width: 300px; /* Adjust the width */
    height: 300px; /* Adjust the height */
    margin-left: auto;
    margin-right: auto;
  }

  #clustrmap-container script {
    width: 10% !important;
    height: 10% !important;
  }
</style>

</body>
